<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <preference for="Assessment\CartDataToApiCrud\Api\GetDataInterface" type="Assessment\CartDataToApiCrud\Model\Api\GetData" />
    <preference for="Assessment\CartDataToApiCrud\Api\Data\DataInterface" type="Assessment\CartDataToApiCrud\Model\Api\Data\Data" />

</config>